@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'HSSanTokki20-Regular', serif;
    @apply text-slate-800;
}

@font-face {
    font-family: 'HSSanTokki20-Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2405@1.0/HSSanTokki20-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

.fade-enter-active {
    animation: fade .05s;
}

.fade-leave-active {
    animation: fade .05s reverse;
}

@keyframes fade {
    0% {
        opacity: 0.1;
    }
    100% {
        opacity: 1;
    }
}

.slide-fade-enter-active {
    transition: all 0.3s ease-out;
}

.slide-fade-leave-active {
    transition: all 0.3s cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-fade-enter-from,
.slide-fade-leave-to {
    transform: translateY(20px);
    opacity: 0;
}